<a href="https://colab.research.google.com/github/rithikgoli/data100-sp20-finalproj/blob/master/Basketball_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [0]:
official_bs = pd.read_csv('/content/2012-18_officialBoxScore.csv')
player_bs = pd.read_csv('/content/2012-18_playerBoxScore.csv')
standings = pd.read_csv('/content/2012-18_standings.csv')
team_bs = pd.read_csv('/content/2012-18_teamBoxScore.csv')
colleges = pd.read_csv('/content/college.csv')

In [9]:
official_bs.head(5)

       gmDate gmTime  seasTyp  ... opptSTL/TO     poss     pace
0  2012-10-30  19:00  Regular  ...    33.3333  88.9409  88.9409
1  2012-10-30  19:00  Regular  ...    33.3333  88.9409  88.9409
2  2012-10-30  19:00  Regular  ...    33.3333  88.9409  88.9409
3  2012-10-30  19:00  Regular  ...    84.6154  88.9409  88.9409
4  2012-10-30  19:00  Regular  ...    84.6154  88.9409  88.9409

[5 rows x 119 columns]

In [10]:
player_bs.head(5)

       gmDate gmTime  seasTyp playLNm  ...  opptDiv opptLoc opptRslt opptDayOff
0  2012-10-30  19:00  Regular   Price  ...  Central    Home      Win          0
1  2012-10-30  19:00  Regular   Ariza  ...  Central    Home      Win          0
2  2012-10-30  19:00  Regular  Okafor  ...  Central    Home      Win          0
3  2012-10-30  19:00  Regular    Beal  ...  Central    Home      Win          0
4  2012-10-30  19:00  Regular  Booker  ...  Central    Home      Win          0

[5 rows x 51 columns]

In [11]:
standings.head(5)

       stDate teamAbbr  rank  ... pyth%16.5  wpyth16.5  lpyth16.5
0  2012-10-30      ATL     3  ...     0.000      0.000     82.000
1  2012-10-30      BKN     3  ...     0.000      0.000     82.000
2  2012-10-30      BOS    14  ...     0.131     10.742     71.258
3  2012-10-30      CHA     3  ...     0.000      0.000     82.000
4  2012-10-30      CHI     3  ...     0.000      0.000     82.000

[5 rows x 39 columns]

In [12]:
team_bs.head(5)

       gmDate gmTime  seasTyp  ... opptSTL/TO     poss     pace
0  2012-10-30  19:00  Regular  ...    33.3333  88.9409  88.9409
1  2012-10-30  19:00  Regular  ...    84.6154  88.9409  88.9409
2  2012-10-30  20:00  Regular  ...   100.0000  94.9832  94.9832
3  2012-10-30  20:00  Regular  ...    25.0000  94.9832  94.9832
4  2012-10-30  22:30  Regular  ...    42.8571  91.5790  91.5790

[5 rows x 123 columns]

In [13]:
colleges.head(5)

   Unnamed: 0  active_from  active_to  ... NCAA_ftpg NCAA_games NCAA_ppg
0           0         1991       1995  ...       1.8      134.0      8.5
1           1         1969       1978  ...       NaN        NaN      NaN
2           2         1970       1989  ...       5.0       88.0     26.4
3           3         1991       2001  ...       5.5       64.0     29.0
4           4         1998       2003  ...       NaN        NaN      NaN

[5 rows x 34 columns]

In [15]:
colleges[(colleges['college'] == 'University of California, Los Angeles')]

      Unnamed: 0  active_from  active_to  ... NCAA_ftpg NCAA_games NCAA_ppg
2              2         1970       1989  ...       5.0       88.0     26.4
19            19         2015       2016  ...       4.2       69.0     16.4
26            26         2008       2018  ...       2.8      104.0     14.8
55            55         1970       1979  ...       NaN        NaN      NaN
63            63         1981       1981  ...       1.1       92.0      3.8
...          ...          ...        ...  ...       ...        ...      ...
4367        4367         1975       1986  ...       2.1       90.0     15.0
4368        4368         1981       1983  ...       1.3      110.0      6.3
4471        4471         1991       1996  ...       3.0      126.0     14.3
4519        4519         1987       1988  ...       1.4       99.0      5.6
4567        4567         1996       1998  ...       1.5      104.0      7.1

[87 rows x 34 columns]